
<p-toolbar>
    <div class="formgrid grid">
        <div class="field col-10">
            <input type="text" class="p-inputtext" [disabled]="true" pInputText [(ngModel)]="password" >
        </div>
        <div class="field col-1">
            <button pButton pRipple type="button" icon="pi pi-copy" class="p-button-rounded p-button-text"></button>
        </div>
        <div class="field col-1 ml-1">
            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-text"></button>
        </div>
    </div>
</p-toolbar>

<p-card>
    
</p-card>

