/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 10px;
    background-color: var( --surface-b );
    font-family: var( --font-family );
}

.text-layout {
    color: var(--text-color);
}

.pass {
    overflow: hidden;
    display: inline;
}

.green .p-progressbar .p-progressbar-value {
    background: #368149;
  }

.light-green .p-progressbar .p-progressbar-value {
    background: rgb(0, 168, 120);
}

.light-warning .p-progressbar .p-progressbar-value {
    background: rgb(239, 194, 15);
}

.danger .p-progressbar .p-progressbar-value {
    background: rgb(223, 102, 97);
}